<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:black !important; font-family:'Adobe Hebrew'">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("CineRating", "Index", "Filmes", null, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse" style="text-align:center;">
                <h1 style="color:navajowhite; font-family:'Adobe Hebrew'">CineRating</h1>
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav">
                    <li style="font-size:large">@Html.ActionLink("Filmes", "Index", "Filmes")</li>
                    <li style="font-size:large">@Html.ActionLink("Atores", "Index", "Atores")</li>
                    <li style="font-size:large">@Html.ActionLink("Realizadores", "Index", "Realizadores")</li>

                    @if (Request.IsAuthenticated && (User.IsInRole("Administradores") || User.IsInRole("Gestores"))) {
                        <li class="dropdown">
                            <a style="font-size:large;" href="" class="dropdown-toggle btnBarra" data-toggle="dropdown">Gestão<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Inserir Filmes", "Create", "Filmes")</li>
                                <li>@Html.ActionLink("Inserir Atores", "Create", "Atores")</li>
                                <li>@Html.ActionLink("Inserir Realizadores", "Create", "Realizadores")</li>
                                @* criar novos roles *@
                                @*<li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>*@
                                @if (User.IsInRole("Administradores")) {
                                    <li>@Html.ActionLink("Permissões de Utilizadores", "Index", "UsersAdmin")</li>
                                }
                            </ul>
                        </li>
                    }
                </ul>

            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
