@model CineRating.Models.Atores

@{
    ViewBag.Title = Model.Nome;
}


<div>

    <div style="display:flex; flex-direction:row; flex-wrap:wrap; background-color:#333;">
        <div>
            <img src="~/imagens/atores/@Model.Imagem" style="height:300px; width:220px; margin-right:10px; object-fit:cover;" />
        </div>
        <div style="width:850px; height:300px">
            <h1>
                @Html.DisplayFor(model => model.Nome)
            </h1>
            <hr />
            <p style="color:lightgrey; font-size:20px;">
                Data de Nascimento: @Model.DataNascimento.ToString("dd-MM-yyyy")
            </p>

            <p style="color:white; font-size:17px;">
                @Html.DisplayFor(model => model.Biografia)
            </p>
        </div>
    </div>





    @if (Request.IsAuthenticated && User.IsInRole("Administradores")) {
        <br />
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })<span>   </span>
        @Html.ActionLink("Eliminar", "Delete", new { id = Model.ID }, new { @class = "btn btn-default" })
    </p>
    }

    <h2>Filmes</h2>
    <hr />
    <div style="display:flex; flex-direction:row; flex-wrap:wrap;">
        <br />
        <br />
        @foreach (var pers in Model.ListaDePersonagens) {
            <div style="text-align:center">
                @Html.Action("FilmeAtores", "Filmes", new { atorID = pers.MovieFK })
            </div>
        }
    </div>


</div>


