@model CineRating.Models.Atores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Atores</h4>
    <hr />
    @if (Request.IsAuthenticated && User.IsInRole("Administradores")) {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
        </p>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Model.DataNascimento.ToString("dd-MM-yyyy")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Biografia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biografia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>

        <dd>
            <a href="~/imagens/atores/@Model.Imagem" target="_blank">
                <img src="~/imagens/atores/@Model.Imagem" height="150" />
            </a>
        </dd>
    </dl>


    <h2>Filmes</h2>
    <div style="display:flex; flex-direction:row; flex-wrap:wrap;">        
        <br />
        <br />
        @foreach (var pers in Model.ListaDePersonagens) {
            <div style="text-align:center">
                    @Html.Action("FilmeAtores", "Filmes", new { atorID = pers.MovieFK })
            </div>
        }
    </div>


</div>


