@model CineRating.Models.Comentario

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar Comentário</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Filme.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Filme.Titulo)
        </dd>

        <dt>
            Nome de Utilizador
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_User.NomeUtilizador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataComentario)
        </dt>

        <dd>
           @Model.DataComentario.ToString("dd-MM-yyyy")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
