@model IEnumerable<CineRating.Models.Comentario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Filme.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_User.NomeUtilizador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataComentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Filme.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_User.NomeUtilizador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataComentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
