@model CineRating.Models.Filmes

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Tem a certeza que quer eliminar este filme?</h3>
<div>
    <hr />
    @*Apresenta mensagens de erro*@
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Realizador.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realizador.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempoExecucao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempoExecucao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataLancamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataLancamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>

        <dd>
            <a href="~/imagens/filmes/@Model.Imagem" target="_blank">
                <img src="~/imagens/filmes/@Model.Imagem" height="150" />
            </a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Video)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
