@model CineRating.Models.Filmes

@{
    ViewBag.Title = "Detalhes";
}

@*<h2>Details</h2>*@


<div style="border:10px thin; box-shadow: 0px 0px 8px rgba(0,0,0,0.7); width:1140px;">
    <div style="background-color:#333; padding-top:23px; padding-bottom:5px;">
        <div style="margin-left:15px;">
            <h1>@Html.DisplayFor(model => model.Titulo)</h1>
            <h3 style="color:lightgray">(@Html.DisplayFor(model => model.DataLancamento))</h3>
            <div style="float:right; margin-right:20px;">
                @foreach (var gen in Model.ListaDeGeneros) {
                    <h3 style="display:inline; color:lightgray;">
                       | @Html.DisplayFor(modelItem => gen.Nome)
                    </h3>
                }
            </div>
            <h3 style="color:lightgray">Duração: @Html.DisplayFor(model => model.TempoExecucao) minutos</h3>
           
            @if (Request.IsAuthenticated && User.IsInRole("Administradores")) {
                @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })<span>   </span>
                @Html.ActionLink("Eliminar", "Delete", new { id = Model.ID }, new { @class = "btn btn-default" })
            }

        </div>
    </div>

    <div style="display:flex; flex-direction:row; flex-wrap:wrap;">
        <img class="filmeImg" src="~/imagens/filmes/@Model.Imagem" style="height:426px; width:288px;" />
        <iframe class="filmeTrailer" src="@Model.Video" style="height:426px; width:852px;"></iframe>
    </div>






    <dl class="dl-horizontal">
        <dt>
            <span>Realizador</span>
        </dt>
        <dd>
            <p>@Model.Realizador.Nome</p>
            <a href="@Url.Action("Details", "Realizadores", new { id = Model.RealizadorFK })">
                <img src="~/imagens/realizadores/@Model.Realizador.Imagem" height="150" />
            </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            <lbl>Géneros</lbl>
        </dt>
        <dd>
            @foreach (var gen in Model.ListaDeGeneros) {
                <p>
                    @Html.DisplayFor(modelItem => gen.Nome)
                </p>
            }
        </dd>
    </dl>
</div>
<h2>Personagens</h2>
@*style="display:flex; flex-direction:row; flex-wrap:wrap;*@
<div class="row" style="display:flex; flex-direction:row; flex-wrap:wrap;">
    @foreach (var pers in Model.ListaDePersonagens) {
        <div style="text-align:center">
            <span>@pers.Role</span>
            @Html.Action("AtoresFilme", "Atores", new { filmeID = pers.AtorFK })
        </div>
    }
</div>
<h2>Comentários</h2>
<div>
    @foreach (var coment in Model.ListaDeComentarios) {
        <div style="border-top:1px solid; margin-bottom:20px;">
            <span style="font-size:large; font-weight:bold">@coment.ID_User.Nome</span>
            <br />
            @Html.DisplayFor(model => coment.DataComentario)
            <br />
            @*@Html.TextAreaFor(model => coment.Texto, new { @readonly = "readonly", @disabled = "disabled", @style = "resize:none; width:100%; max-width:2000px; height:150px; font-size:medium" })*@
            <div style="margin: 10px 0 20px">
                @coment.Texto
            </div>
            @if (Request.IsAuthenticated && (User.IsInRole("Administradores") || User.Identity.Name.Equals(coment.ID_User.NomeUtilizador))) {
                <div style="text-align:right;">
                    <a href="@Url.Action("Delete", "Comentarios", new { id = coment.ID, filmeID = coment.FilmeFK })">Eliminar Comentário</a>
                    @if (User.Identity.Name.Equals(coment.ID_User.NomeUtilizador)) {
                        <span>|</span> <a href="@Url.Action("Edit", "Comentarios", new { id = coment.ID, filmeID = coment.FilmeFK, userID = coment.UserFK })"> Editar Comentário </a>
                    }
                    <br />
                </div>
            }
        </div>
    }
</div>
<div>
    @if (Request.IsAuthenticated) {
        <a href="@Url.Action("Create", "Comentarios", new { filme = Model.ID })">Adicionar Comentario </a>
        @*@Html.Action("Create", "Comentarios", new { user = User.Identity.Name, filme = Model.ID })*@
    } else {
        <p style="font-weight:bold; color:red; font-size:x-large">Para poder comentar tem de fazer login!</p>
    }
</div>


