@model CineRating.Models.Filmes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Filmes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Realizador.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Realizador.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TempoExecucao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TempoExecucao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataLancamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataLancamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ListaDeGeneros)
        </dt>
        <dd>
            @foreach (var gen in Model.ListaDeGeneros) {
                <p>
                    @Html.DisplayFor(modelItem => gen.Nome)
                </p>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imagem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Video)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Video)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
