@model CineRating.Models.Realizadores

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Realizadores</h4>
    <hr />
    @*Apresenta mensagens de erro*@
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Biografia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Biografia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd>
            <a href="~/imagens/realizadore/@Model.Imagem" target="_blank">
                <img src="~/imagens/realizadores/@Model.Imagem" height="150" />
            </a>
        </dd>
    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
