@model CineRating.Models.Realizadores
@{
    ViewBag.Title = "Details";
}

    
<div>

    <div style="display:flex; flex-direction:row; flex-wrap:wrap; background-color:#333;">
        <div>
            <img src="~/imagens/realizadores/@Model.Imagem" style="height:300px; width:220px; margin-right:10px; object-fit:cover;" />
        </div>
        <div style="width:850px; height:300px">
            <h1>
                @Html.DisplayFor(model => model.Nome)
            </h1>
            <hr />
            <p style="color:lightgrey; font-size:20px;">
                Data de Nascimento: @Model.DataNascimento.ToString("dd-MM-yyyy")
            </p>

            <p style="color:white; font-size:17px;">
                @Html.DisplayFor(model => model.Biografia)
            </p>
        </div>
    </div>





    @if (Request.IsAuthenticated && User.IsInRole("Administradores")) {
        <br />
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })<span>   </span>
            @Html.ActionLink("Eliminar", "Delete", new { id = Model.ID }, new { @class = "btn btn-default" })
        </p>
    }




    <h2>Filmes</h2>
    <div style="display:flex; flex-direction:row; flex-wrap:wrap;">
        @foreach (var pers in Model.ListaDeFilmes) {
            <div style="text-align:center">
                @Html.Action("FilmeRealizadores", "Filmes", new { realizadorID = pers.ID });
            </div>
        }
    </div>
</div>
