@model CineRating.Models.Realizadores
@{
    ViewBag.Title = "Editar Realizador";
}
<h2>Editar Realizador</h2>

@*IMPORTANTE*@
@using (Html.BeginForm("Edit", "Realizadores", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @*IMPORTANTE*@
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @*IMPORTANTE*@
        @Html.HiddenFor(model => model.Imagem)
        @*IMPORTANTE*@
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @style = "max-width:500px;", @placeholder = "Nome do Realizador" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Biografia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Biografia, new { @class = "form-control", maxlength = "500", @style = "resize:none; width:100%; max-width:500px; height:150px;", @placeholder = "Biografia" })
                @Html.ValidationMessageFor(model => model.Biografia, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DataNascimento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control", style = "width:160px", type = "date", value = Model.DataNascimento.ToString("yyyy-MM-dd"), max = DateTime.Now.ToString("yyyy-MM-dd") } })
                @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Imagem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <a href="~/imagens/realizadores/@Model.Imagem" target="_blank">
                    <img src="~/imagens/realizadores/@Model.Imagem" height="150" />
                </a>
                <input type="file" name="fileUploadImagem" style="color:blue; margin-top:1%" accept=".jpg" />
                @Html.ValidationMessageFor(model => model.Imagem, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
                <a class="btn btn-default" href="@Url.Action("Index","Realizadores")">Cancelar</a>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
